[user]
	email = cem.y.ayd@spanflug.de
	name = cemysf
[alias]
  	s = status
  	d = diff
  	au = add -u
  	co = checkout
  	br = branch
  	last = log -1 HEAD
  	cane = commit --amend --no-edit
  	lo = log --oneline -n 10
  	pr = pull --rebase
	cm = commit    
  	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
	editor = vim
